Requirement already satisfied: flask in c:\python38\lib\site-packages (1.1.2)
Requirement already satisfied: flask-cors in c:\python38\lib\site-packages (3.0.9)
Requirement already satisfied: gunicorn in c:\python38\lib\site-packages (20.0.4)
Requirement already satisfied: boto3 in c:\python38\lib\site-packages (1.16.4)
Requirement already satisfied: matplotlib in c:\python38\lib\site-packages (3.3.2)
Requirement already satisfied: click>=5.1 in c:\python38\lib\site-packages (from flask) (7.1.2)
Requirement already satisfied: Jinja2>=2.10.1 in c:\python38\lib\site-packages (from flask) (2.11.2)
Requirement already satisfied: Werkzeug>=0.15 in c:\python38\lib\site-packages (from flask) (1.0.1)
Requirement already satisfied: itsdangerous>=0.24 in c:\python38\lib\site-packages (from flask) (1.1.0)
Requirement already satisfied: Six in c:\users\yatchi\appdata\roaming\python\python38\site-packages (from flask-cors) (1.15.0)
Requirement already satisfied: setuptools>=3.0 in c:\python38\lib\site-packages (from gunicorn) (41.2.0)
Requirement already satisfied: s3transfer<0.4.0,>=0.3.0 in c:\python38\lib\site-packages (from boto3) (0.3.3)
Requirement already satisfied: jmespath<1.0.0,>=0.7.1 in c:\python38\lib\site-packages (from boto3) (0.10.0)
Requirement already satisfied: botocore<1.20.0,>=1.19.4 in c:\python38\lib\site-packages (from boto3) (1.19.4)
Requirement already satisfied: certifi>=2020.06.20 in c:\python38\lib\site-packages (from matplotlib) (2020.6.20)
Requirement already satisfied: pillow>=6.2.0 in c:\python38\lib\site-packages (from matplotlib) (8.0.1)
Requirement already satisfied: numpy>=1.15 in c:\python38\lib\site-packages (from matplotlib) (1.19.2)
Requirement already satisfied: python-dateutil>=2.1 in c:\python38\lib\site-packages (from matplotlib) (2.8.1)
Requirement already satisfied: cycler>=0.10 in c:\python38\lib\site-packages (from matplotlib) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in c:\python38\lib\site-packages (from matplotlib) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\python38\lib\site-packages (from matplotlib) (1.2.0)
Requirement already satisfied: MarkupSafe>=0.23 in c:\python38\lib\site-packages (from Jinja2>=2.10.1->flask) (1.1.1)
Requirement already satisfied: urllib3<1.26,>=1.25.4; python_version != "3.4" in c:\python38\lib\site-packages (from botocore<1.20.0,>=1.19.4->boto3) (1.25.11)
